<!DOCTYPE html>
<html>
<head>
  <title>IMAP Emails</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td { border: 1px solid rgb(222, 20, 20); }
    th, td { padding: 8px; text-align: left; }
  </style>
</head>
<body>
  <h1>Emails Fetched</h1>



  <table>
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Text</th>
      </tr>
    </thead>
   <tbody>
    <% data.forEach(email => { %>
      <tr>
        <td><%= email.ticketNo %></td>
        <td><%= email.from %></td>
        <td><%= email.subject %></td>
        <td><%= email.date %></td>
      </tr>
    <% }) %>
</tbody>

  </table>
</body>
</html>
